/* ========================================================
pagenation - ページネーション関連スタイル
======================================================== */
.navigation {
  @include mq(sp) {
    margin-bottom: 5rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: $color02;
    font-size: 1.5rem;

    a {
      color: $color02;
      font-size: 1.5rem;
      margin-right: 2rem;
    }

    .current {
      border-radius: 50%;
      border: 1px solid $color02;
      padding: 0.5rem 0.8rem;
      margin-right: 2rem;
    }

    .next {
      border-bottom: 1px solid $color02;

      &::after {
        content: '→';
      }
    }

    .prev {
      border-bottom: 1px solid $color02;

      &::before {
        content: '←';
      }
    }
  }
}

.single-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(sp){
		margin-bottom: 5rem;
	}
	@include mq{
		margin-bottom: 2rem;
    margin-top: 5rem;
	}

  span {
		@include mq(sp){
			width: 12rem;
			margin-right: 0.5rem;
		}
  @include mq(){
		width: 16.4rem;
    margin-right: 2rem;
	}
  }

  a {
    text-decoration: none;
    border: 1px solid $color02;
    color: $color02;
    display: block;
    text-align: center;
    border-radius: 3rem;
		@include mq(sp){
			font-size: 1.2rem;
			padding:1.2rem 0.5rem;
		}
		@include mq(){
			font-size: 1.6rem;
			padding: 1.5rem;
		}
  }

  .next a {
    &::after {
      content: '→';
    }
  }

  .prev a {
    &::before {
      content: '←';
    }
  }
}
