/* ========================================================
header
======================================================== */
.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: $white;
  left:0;
  right: 0;
  margin:0 auto;
  @include mq(){
    min-width: 120rem;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;

    @include mq(sp) {
      padding: 1.5rem 0;
    }

    @include mq() {
      padding: 2.5rem 0;
    }

    .logo {
      @include mq(sp) {
        width: 7.5rem;
      }

      @include mq() {
        width: 12.2rem;
      }

      a {
        display: block;

        img {
          height: auto;
          max-width: 100%;
        }
      }
    }
  }

  .nav-list {
    font-weight: 500;

    @include mq(sp) {
      position: fixed;
      top: 6.7rem;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 3.3rem 0 10rem 0;
      background: $white;
      color: $color01;
      font-size: 1.5rem;
      text-align: center;
      transform: translateX(100%);
      transition: all 0.6s;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    @include mq() {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.6rem;
    }

    &.active {
      transform: translateX(0%);
    }

    .nav-child {
      text-transform: uppercase;

      @include mq(sp) {
        padding-bottom: 4.2rem;

        &:last-of-type {
          padding-bottom: 4.1rem;
        }
      }

      @include mq() {
        margin-right: 1.3rem;
        letter-spacing: 1px;
      }
    }
  }

  .nav-link {
    color: $color01;
  }

  .service {
    position: relative;

    @include mq(sp) {
      &::after {
        position: absolute;
        top: 0.2rem;
        right: 2.5rem;
        width: 1.3rem;
        height: 0.7rem;
        background: url(#{$v-img-path}icon/icon_arrow.png) no-repeat right center/cover;
        content: '';
      }
    }
  }

  .subnav-list {
    display: none;
    background: $white;
    font-size: 1.6rem;

    @include mq(sp) {
      width: 100%;
      padding-top: 2.4rem;
    }

    @include mq() {
      position: absolute;
      top: 2.8rem;
      width: 26rem;
      padding: 3rem 1.5rem;
      border: 1px solid $white;
      box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.13);
    }

    li {
      text-transform: capitalize;

      @include mq(sp) {
        padding-bottom: 2.6rem;
      }

      @include mq() {
        padding-bottom: 2rem;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .btn-gp {
    @include mq(sp) {
      justify-content: center;
    }

    a {
      display: block;

      @include mq(sp) {
        width: 16.5rem;
        margin-right: 1.2rem;
        padding: 1.2rem 0;
        font-size: 1.4rem;

        &:last-of-type {
          margin-right: 0;
        }
      }

      @include mq() {
        width: 21.5rem;
        margin-right: 2.9rem;
        padding: 1.5rem 0;
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }
      }

      span {
        position: relative;

        &::before {
          position: absolute;
          top: 56%;
          left: 0;
          background-size: contain;
          content: '';
          transform: translateY(-50%);

          @include mq(sp) {
            width: 1.6rem;
            height: 1.6rem;
          }

          @include mq() {
            width: 1.8rem;
            height: 1.8rem;
          }
        }
      }
    }
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1.3rem;
    z-index: 3;
    width: 3.8rem;
    height: 3.8rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;

    span {
      display: block;
      position: absolute;
      left: 50%;
      width: 2.5rem;
      height: 0.3rem;
      background: $color04;
      transform: translateX(-50%);
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:nth-child(1) {
        top: 1.1rem;
      }

      &:nth-child(2) {
        top: 1.8rem;
      }

      &:nth-child(3) {
        top: 2.6rem;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          top: 18px;
          left: 9px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 18px;
          left: 9px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }

  .searchform{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    justify-content: flex-end;
  }
  .search{
    padding: 0.5rem;
    outline: none;
    font-size: 1.4rem;
  }
  .searchsubmit{
    padding: 0.5rem;
    font-size: 1.4rem;
  }
}